{% extends 'client/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %} {{ action }} Mutual de Seguridad {% endblock %}

{% block static_up %}

{% endblock %}

{% block title_page %} {{ action }} Mutual de Seguridad {% endblock %}
{% block buttons %}
<button type="button" class="btn btn-orange" onclick="redirectToUrl('{% url 'conf_app:mutual_security_app' %}')">Volver <i
    class="icon ion-plus-circled"></i></button>
{% endblock %}

{% block content_page %}
<div class="card pd-20 pd-sm-40">
    <div class="table-wrapper">
        <form method="post" id="form" name="form" action="">
            {% csrf_token %}
        
            <div class="form-layout">
                <div class="row mg-b-25">
                    
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.ms_codeprevired.label }} <span class="tx-danger">*</span></label>
                            {{ form.ms_codeprevired }}
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.ms_name.label }} <span class="tx-danger">*</span></label>
                            {{ form.ms_name }}
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.ms_rut.label }} <span class="tx-danger"></span></label>
                            {{ form.ms_rut }}
                        </div>
                    </div><!-- col-4 -->


                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.ms_active.label }} <span class="tx-danger">*</span></label>
                            {{ form.ms_active }}
                        </div>
                    </div><!-- col-4 -->
                </div><!-- col-4 -->
                <div class="form-layout-footer mg-t-30">
                    <button type="button" class="btn btn-info mg-r-5" onclick="save_data()">{{ action }}</button>
                </div><!-- form-layout-footer -->
            </div>
        </form>
        
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger mt-4" role="alert">
        {% else %}
        <div class="alert alert-success mt-4" role="alert">
        {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="d-flex align-items-center justify-content-start">
                <i class="icon ion-ios-{% if message.tags == 'error' %}close{% else %}checkmark{% endif %} alert-icon tx-32 mg-t-5 mg-xs-t-0"></i>
                <span><strong>{% if message.tags == 'error' %}Error{% else %}Éxito{% endif %}: </strong> {{ message }}</span>
            </div><!-- d-flex -->
        </div><!-- alert -->
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block static_down %}


{% endblock %}

{% block script_tag %}
<script>
{% include "client/includes/validate_input.html" with form=form %}
{% include "client/includes/redirect_to_js.html" %}
</script>
{% endblock %}