**/migrations/*
!**/migrations/__init__.py

db.sqlite3
.vscode/launch.json
__pycache__
env
*.pyc
*.jpg
*.png
*.json
# *.pdf
*.xlsx
*.xlsb
*.xls
*.docx
*.doc
*.pptx
*.ppt
*.csv
*.accdb
*.mdb
*.one
*.ppsx
*.ppsm
*.potx
*.potm
*.pptm
*.xlt
*.xlsm
*.xlam
*.xla
*.xltm
*.xll
*.xltx
*.xld
*.xlc
*.odt
*.ods
*.odp

static/amanda
static/gentella

**/amanda/*.html
**/gentella/*.html


**/settings/*
!**/settings/base.py


.env
app01/.env
