{% extends 'client/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %} {{ action }} Colaborador {% endblock %}

{% block static_up %}

{% endblock %}

{% block title_page %} NOMBRE COLABORADOR {% endblock %}
{% block buttons %}
s
{% endblock %}

{% block content_page %}

<style>

</style>

    <div class="row row-sm mg-t-15 mg-sm-t-20">


        <div class="col-lg-3 mg-t-15 mg-sm-t-20 mg-lg-t-0">
            <div class="card pd-20">
                <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Sales Report</h6>
                <div class="d-flex mg-b-10">
                    <div class="bd-r pd-r-10">
                        <label class="tx-12">Today</label>
                        <p class="tx-lato tx-inverse tx-bold">1,898</p>
                    </div>
                    <div class="bd-r pd-x-10">
                        <label class="tx-12">This Week</label>
                        <p class="tx-lato tx-inverse tx-bold">32,112</p>
                    </div>
                    <div class="pd-l-10">
                        <label class="tx-12">This Month</label>
                        <p class="tx-lato tx-inverse tx-bold">72,067</p>
                    </div>
                </div><!-- d-flex -->
                <div class="progress mg-b-10">
                    <div class="progress-bar wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
                <p class="tx-12 mg-b-0">Maecenas tempus, tellus eget condimentum rhoncus</p>
            </div><!-- card -->

            <ul class="list-group widget-list-group bg-info mg-t-20">
                <div class="card pd-20">
                    <div class="pd-10 bd">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            <li id="datos_personales" class="nav-item"><a class="nav-link active" data-toggle="tab" href="#" role="tab" aria-expanded="true">Datos Personales</a></li>
                            <li id="datos_laborales" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Datos Laborales</a></li>
                            <li id="datos_previsionales" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Datos Previsionales</a></li>
                            <li id="cargas_familiares" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Cargas Familiares</a></li>
                            <li id="horario" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Horario</a></li>
                            <li id="datos_pago" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Datos de Pago</a></li>
                            <li id="vacaciones_ausencia" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Vacaciones y Ausencias</a></li>
                            <li id="finiquito" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Finiquito</a></li>
                            <li id="documentos" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Documentos</a></li>
                            <li id="conceptos_remuneraciones" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Concepto Remuneraciones</a></li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div><!-- col-4 -->

        <div class="col-lg-9">
            <div class="card">
                <div class="card-header bg-transparent pd-20">
                    <h6 class="card-title tx-uppercase tx-12 mg-b-0">User Transaction History</h6>
                </div><!-- card-header -->
                <div class="table-responsive">

                </div><!-- table-responsive -->
                <div class="card-footer tx-12 pd-y-15 bg-transparent bd-t bd-gray-200">
                    <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Transaction History</a>
                </div><!-- card-footer -->
            </div><!-- card -->
        </div><!-- col-8 -->

        
    </div>





{% endblock %}

{% block static_down %}


{% endblock %}

{% block script_tag %}
<script>
    

</script>
{% endblock %}