{% extends 'client/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %} {{ action }} Colaborador {% endblock %}

{% block static_up %}

{% endblock %}

{% block title_page %} NOMBRE COLABORADOR {% endblock %}
{% block buttons %}
<button type="button" class="btn btn-orange" onclick="redirectToUrl('{% url 'usuario_app:collaborator_file' %}')">Volver <i class="icon ion-arrow-left-a"></i></button>
{% endblock %}

{% block content_page %}

<style>

</style>

    <div class="row row-sm mg-t-15 mg-sm-t-20">


        <div class="col-lg-3 mg-t-15 mg-sm-t-20 mg-lg-t-0">
            <div class="card pd-20">
                <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Sales Report</h6>
                <div class="d-flex mg-b-10">
                    <div class="bd-r pd-r-10">
                        <label class="tx-12">Today</label>
                        <p class="tx-lato tx-inverse tx-bold">1,898</p>
                    </div>
                    <div class="bd-r pd-x-10">
                        <label class="tx-12">This Week</label>
                        <p class="tx-lato tx-inverse tx-bold">32,112</p>
                    </div>
                    <div class="pd-l-10">
                        <label class="tx-12">This Month</label>
                        <p class="tx-lato tx-inverse tx-bold">72,067</p>
                    </div>
                </div><!-- d-flex -->
                <div class="progress mg-b-10">
                    <div class="progress-bar wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
                <p class="tx-12 mg-b-0">Maecenas tempus, tellus eget condimentum rhoncus</p>
            </div><!-- card -->

            <ul class="list-group widget-list-group bg-info mg-t-20">
                <div class="card pd-20">
                    <div class="pd-10 bd">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            <li id="datos_personales" class="nav-item"><a class="nav-link active" data-toggle="tab" href="#" role="tab" aria-expanded="true">Datos Personales</a></li>
                            {% if user_id %} 
                            <li id="datos_laborales" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Datos Laborales</a></li>
                            <li id="datos_previsionales" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Datos Previsionales</a></li>
                            <li id="cargas_familiares" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Cargas Familiares</a></li>
                            <li id="horario" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Horario</a></li>
                            <li id="datos_pago" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Datos de Pago</a></li>
                            <li id="vacaciones_ausencia" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Vacaciones y Ausencias</a></li>
                            <li id="finiquito" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Finiquito</a></li>
                            <li id="documentos" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Documentos</a></li>
                            <li id="conceptos_remuneraciones" class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Concepto Remuneraciones</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </ul>
        </div><!-- col-4 -->

        <div class="col-lg-9">
            <div class="card table-responsive div-scroll-500">
                <div class="card pd-10 pd-sm-20 form-layout form-layout-5">
                    {% include "client/page/usuario/forms/colaboradores/datos_personales.html" %}
                    {% include "client/page/usuario/forms/colaboradores/datos_laborales.html" %}
                    {% include "client/page/usuario/forms/colaboradores/datos_previsionales.html" %}
                    {% include "client/page/usuario/forms/colaboradores/cargas_familiares.html" %}
                    {% include "client/page/usuario/forms/colaboradores/horario.html" %}
                    {% include "client/page/usuario/forms/colaboradores/datos_pago.html" %}
                    {% include "client/page/usuario/forms/colaboradores/vacaciones_ausencia.html" %}
                    {% include "client/page/usuario/forms/colaboradores/finiquito.html" %}
                    {% include "client/page/usuario/forms/colaboradores/documentos.html" %}
                    {% include "client/page/usuario/forms/colaboradores/remuneraciones.html" %}
                </div>
            </div><!-- card -->
        </div><!-- col-8 -->

        
    </div>
{% endblock %}

{% block static_down %}


{% endblock %}

{% block script_tag %}
<script>

$('.fc-datepicker').datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    dateFormat: 'yy-mm-dd',
});


div_datos_personales.style.display = 'none';
div_datos_laborales.style.display = 'none';
div_datos_previsionales.style.display = 'none';
div_cargas_familiares.style.display = 'none';
div_horario.style.display = 'none';
div_vacaciones_ausencia.style.display = 'none';                 
div_datos_pago.style.display = 'none';                 
div_finiquito.style.display = 'none';
div_documentos.style.display = 'none';
div_remuneraciones.style.display = 'none';


// Esperar a que se cargue el DOM
document.addEventListener('DOMContentLoaded', function() {
    // Obtener todos los elementos li dentro del contenedor ul
    var elementosLi = document.querySelectorAll('.nav-item');

    // Recorrer cada elemento li y agregar un evento clic
    elementosLi.forEach(function(li) {
        li.addEventListener('click', function(event) {
            // Obtener el id del elemento li que se ha hecho clic
            var idClickeado = event.currentTarget.id;

            // Ocultar todos los divs relacionados con los elementos li
            var divs = document.querySelectorAll('[id^="div_"]');
            divs.forEach(function(div) {
                div.style.display = 'none';
            });

            // Mostrar el div relacionado con el elemento li clickeado
            var divRelacionado = document.getElementById('div_' + idClickeado);

            if (divRelacionado) {
                divRelacionado.style.display = 'block';

                switch (idClickeado) {
                    case 'datos_personales':
                        load_datos_personales_ini();
                        load_datos_personales();
                    break;
                    case 'datos_laborales':
                        console.log('La opción es datos_laborales');
                    break;
                    case 'datos_previsionales':
                        console.log('La opción es datos_previsionales');
                    break;
                    case 'cargas_familiares':
                        console.log('La opción es cargas_familiares');
                    break;
                    case 'horario':
                        console.log('La opción es horario');
                    break;
                    case 'datos_pago':
                        console.log('La opción es datos_pago');
                    break;
                    case 'vacaciones_ausencia':
                        console.log('La opción es vacaciones_ausencia');
                    break;
                    case 'finiquito':
                        console.log('La opción es finiquito');
                    break;
                    case 'documentos':
                        console.log('La opción es documentos');
                    break;
                    case 'remuneraciones':
                        console.log('La opción es remuneraciones');
                    break;

                    default:
                        console.log('Opción no reconocida');
                }
            }
        });
    });
});

const save_data = (form_name) => {
    const _validate_inputs = validate_inputs(form_name);

    if(!_validate_inputs){
        $.alert({
            title: 'Mensaje!',
            content: 'El formulario no esta completo, favor de revisar y volver a intentar',
        });
    }else{

        let apellidos = document.getElementById('apellidos').value;
        let nombres = document.getElementById('nombres').value;
        let email = document.getElementById('email').value;

        let col_rut = document.getElementById('col_rut').value;
        let col_sexo = document.getElementById('col_sexo').value;
        let col_estadocivil = document.getElementById('col_estadocivil').value;
        let col_extranjero = document.getElementById('col_extranjero').value;
        let col_nacionalidad = document.getElementById('col_nacionalidad').value;
        let col_fechanacimiento = document.getElementById('col_fechanacimiento').value;
        let col_estudios = document.getElementById('col_estudios').value;
        let col_estadoestudios = document.getElementById('col_estadoestudios').value;
        let col_titulo = document.getElementById('col_titulo').value;
        let col_licenciaconducir = document.getElementById('col_licenciaconducir').value;
        let col_tipolicencia = document.getElementById('col_tipolicencia').value;
        let col_tipousuario = document.getElementById('col_tipousuario').value;
        let col_direccion = document.getElementById('col_direccion').value;

        let pais = document.getElementById('pais').value;
        let region = document.getElementById('region').value;
        let comuna = document.getElementById('comuna').value;

        {% if user_id %} 
        const link_to = `{% url 'usuario_app:PersonalDataEditView' user_id %}`
        {% else %}
        const link_to = ``
        {% endif %}

        let dict_form = {
            "col_rut": col_rut,
            "col_extranjero": Number(col_extranjero),
            "col_nacionalidad": col_nacionalidad,
            "col_sexo": col_sexo,
            "col_fechanacimiento": col_fechanacimiento,
            "col_estadocivil": Number(col_estadocivil),
            "col_direccion": col_direccion,
            "pais": Number(pais),
            "region": Number(region),
            "comuna": Number(comuna),
            "col_estudios": Number(col_estudios),
            "col_estadoestudios": Number(col_estadoestudios),
            "col_titulo": col_titulo,
            "col_licenciaconducir": Number(col_licenciaconducir),
            "col_tipolicencia": col_tipolicencia,
            "col_tipousuario": Number(col_tipousuario),
            "apellidos": apellidos,
            "nombres": nombres,
            "email": email
        }

        axios.put(link_to, dict_form)
            .then(response => {
                $.alert({
                    title: 'Mensaje!',
                    content: 'Los datos del colaborador fueron actualizados con éxito!',
                });
            })
            .catch(error => {
                $.alert({
                    title: 'Mensaje!',
                    content: `${error.response.data.message}`,
                });
            });
    }
}

const validate_inputs = (form_name) => {
    const formulario = document.getElementById(form_name);
    const elementos = formulario.elements;
    let is_vacio = true;

    for (let i = 0; i < elementos.length; i++) {
        const elemento = elementos[i];
        
        if(elemento.type === "button"){
        }else{
            const value = elemento.value.trim();
            const classes = elemento.className.split(' ');
            const hasRequiredClass = classes.includes('not-required');

            if (!hasRequiredClass && (elemento.value).length === 0) {
                is_vacio = false;
            }
        }
    }

    if(!is_vacio){
        return false;
    }
    return true;
}

const change_validation = () => {
    const input = document.getElementById('col_licenciaconducir');
    const input_txt = document.getElementById('col_tipolicencia');

    if(input.value === '1'){
        input_txt.classList.remove('not-required');
    }else{
        input_txt.classList.add('not-required');
    }
};

</script>
{% endblock %}