<div class="row">
    <div class="col-md-6">
        <table id="datatable-concepts" class="table responsive" style="width: 100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo de remuneración</th>
                    <th>Clasificación Concepto</th>
                    <th>Tipo Concepto</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objects_concepts %}
                <tr id="add-concept-{{ obj.conc_id }}">
                    <td>{{ obj.conc_id }}</td>
                    <td>{{ obj.conc_name }}</td>
                    <td>{{ obj.get_conc_remuneration_type_display }}</td>
                    <td>{{ obj.get_conc_clasificationconcept_display }}</td>
                    <td>{{ obj.get_conc_typeconcept_display }}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" style="cursor: pointer;" onclick="associate_concept({{ obj.conc_id }})">
                            Asociar <span class="fa fa-thumb-tack"></span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table responsive table-bordered" id="second-table" style="width: 100%;">
            <thead class="bg-info">
                <tr>
                    <th class="wd-10p">Concepto</th>
                    <th class="wd-10p">Monto</th>
                    <th class="wd-10p">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in conceppts_user_objects %}

                <tr id="#add-concept-{{ obj.concept.conc_id }}">
                    <td class="concept-cell">{{ obj.concept.conc_name }}</td>
                    <td class="amount-cell">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" id="mount-concept-{{ obj.concept.conc_id }}" value="{{ obj.cu_value }}">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-sm" style="cursor: pointer;" onclick="add_mount({{ obj.concept.conc_id }})">
                                    <span class="fa fa-save"></span>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" style="cursor: pointer;" onclick="dissociate_concept({{ obj.concept.conc_id }})">
                                Eliminar <span class="fa fa-trash"></span>
                            </button>
                        
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <hr>
        <button type="button" class="btn btn-primary btn-sm" style="cursor: pointer;" onclick="generate_liquidation()">
            Generar Liquidación Sueldo <span class="fa fa-file-text"></span>
        </button>
    </div>
</div>

<script>

    {% include "client/includes/table_js.html" with id="datatable-concepts" is_limit=True %}

    const generate_liquidation = () => {
        $.alert("Hola mundo");
    }

    const associate_concept = (id) => {
        let d = $("#datatable-concepts");
        let save_value = d.DataTable().row(`#add-concept-${id}`).data();
        addToSecondTable(save_value[1], save_value[0])
    };

    const addToSecondTable = (conceptName, conceptId) => {
        let there_is_value = false;
        $('#second-table tbody tr').each(function () {
            let text_id = `#add-concept-${conceptId}`
            let rowConceptId = this.id;
            console.log(`${rowConceptId}-${text_id}`)

            if (rowConceptId == text_id) {
                there_is_value = true;
            }
        });

        if(!there_is_value){
            const endpoint = "{% url 'remun_app:add_concept' %}";

            const payload = {
                'user': {{ id }},
                'concept': conceptId
            }

            axios.post(endpoint, payload)
                .then(response => {
                })
                .catch(error => {
                    console.error('Error en la solicitud:', error.message);
                });

            var newRow = `
                <tr id="#add-concept-${conceptId}">
                    <td class="concept-cell">${conceptName}</td>
                    <td class="amount-cell">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" id="mount-concept-${conceptId}" value="0,0">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-sm" style="cursor: pointer;" onclick="add_mount(${conceptId})">
                                    <span class="fa fa-save"></span>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" style="cursor: pointer;" onclick="dissociate_concept(${conceptId})">
                                Eliminar <span class="fa fa-trash"></span>
                            </button>
                        
                    </td>
                </tr>`;
            $('#second-table tbody').append(newRow);
        }
    };

    const dissociate_concept = (conceptId) => {
        $.confirm({
            title: 'Confirmación',
            content: 'Estas seguro de quitar el concepto?!',
            buttons: {
                si: function () {
                    $('#second-table tbody tr').each(function () {
                        let text_id = `#add-concept-${conceptId}`
                        let rowConceptId = this.id;
                        if (rowConceptId == text_id) {

                            const endpoint = "{% url 'remun_app:conceptuser_delete' id 'concept_id' %}".replace('concept_id', conceptId);

                            axios.delete(endpoint)
                                .then(response => {
                                    this.remove();
                                    $.alert('Se quito el concepto con éxito!');
                                })
                                .catch(error => {
                                    console.error('Error en la solicitud:', error.message);
                                });
                        }
                    });
                },
                no: function () {;
                }
            }
        });
    };

    const add_mount = (concept_id) => {
        const endpoint = "{% url 'remun_app:add_mount' id 'concept_id' %}".replace('concept_id', concept_id);
        const cu_value = $(`#mount-concept-${concept_id}`).val();

        const payload = {
            'cu_value': cu_value,
        }

        axios.put(endpoint, payload)
            .then(response => {
                const { data: { status, message: {detail}  } } = response
                $.alert(detail);
            })
            .catch(error => {
                console.error('Error en la solicitud:', error.message);
            });
    }
</script>