{% extends 'client/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %} Asistencia {% endblock %}

{% block static_up %}
<link href="{% statics_tag_maps 'leaflet/leaflet.css' %}" rel="stylesheet">
<script src="{% statics_tag_maps 'leaflet/leaflet.js' %}"></script>
<script src="{% statics_tag_maps 'leaflet/leaflet.geometryutil.js' %}"></script>

{% endblock %}

{% block title_page %} - {% endblock %}
{% block buttons %}

{% endblock %}

{% block content_page %}
<div class="card pd-20 pd-sm-40">
    <div class="table-wrapper">
        <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
            <div class="card">
            <div id="map2">
                <div id="map" style="height: 400px;"></div>
            </div>
            <div class="pd-20">
                <h6 class="tx-inverse tx-14">Marcar Entrada/Salida</h6>
                <p class="tx-13"><span class="fa fa-location-arrow"></span><span id="lat_lng"></span></p>
                
                <div class="d-flex">
                    <a href="" class="btn btn-info bd-0 pd-x-20"><i class="fa fa-sign-in mg-r-5"></i>Entrada</a>
                    <a href="" class="btn btn-info bd-0 pd-x-20 mg-l-1"><i class="fa fa-sign-out mg-r-5"></i>Salida</a>
                </div><!-- d-flex -->
            </div><!-- pd-20 -->
            </div><!-- card -->
        </div>

    </div>
</div>



{% endblock %}

{% block static_down %}
<script src="{% statics_tag_amanda 'lib/select2/js/select2.min.js' %}"></script>
{% endblock %}

{% block script_tag %}
<script>

    /** @type {HTMLElement}*/
    var posElt;
    /** @type {HTMLElement} */
    var posLinkElt;

    window.addEventListener('load', function(){
        posElt = document.getElementById('Pos');
        posLinkElt = document.querySelector('#PosLink > a');

        // if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(geoposOK, geoposKO);
        // }
        // else {
        // }
    });

    /** @param {GeolocationPosition} pos */
    function geoposOK(pos) {
        //Obtenemos latitud y longitud
        var lat = pos.coords.latitude;
        var long = pos.coords.longitude;

        console.log(lat)
        console.log(long)

        //Mostramos la posición
        //posElt.textContent = `${lat}, ${long}`;
        //generamos enlace a la posición
        //posLinkElt.href = `https://maps.google.com/?q=${lat},${long}`;
        //posLinkElt.textContent = 'Mostrar tu posición en un mapa';
    }

    /** @param {GeolocationPositionError} err */
    function geoposKO(err) {
        console.warn(err.message);
        let msg;
        switch(err.code) {
            case err.PERMISSION_DENIED:
                msg = "No nos has dado permiso para obtener tu posición";
                break;
            case err.POSITION_UNAVAILABLE:
                msg = "Tu posición actual no está disponible";
                break;
                case err.TIMEOUT:
                    msg = "No se ha podido obtener tu posición en un tiempo prudencial";
                    break;
                default:
                    msg = "Error desconocido";
                    break;
        }
        posElt.textContent = msg;
    }


    /*const crate_json = {
        "startLatitude": -33.54748317039205,
        "startLongitude":-70.77621066075854
    }

    $("#lat_lng").text(`${crate_json['startLatitude']}, ${crate_json['startLongitude']}`)

    const accessToken = "pk.eyJ1Ijoib3NidXN0YW1hbiIsImEiOiJjbGpyamw4Y2IwZHNjM2VrY256bjF4a3J3In0.BREjlIuXom4d7eS_riSSNQ";
    // Inicializar el mapa
    var map = L.map('map').setView([crate_json['startLatitude'], crate_json['startLongitude']], 11);

    // Agregar el mapa base (utilizando Mapbox)
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=' + accessToken, {
        maxZoom: 25,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(map);

    L.marker([crate_json['startLatitude'], crate_json['startLongitude']]).addTo(map)
            .bindPopup(location.name)
            .openPopup();*/


</script>
{% endblock %}