{% extends 'client/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %} Asistencia {% endblock %}

{% block static_up %}
<link href="{% statics_tag_maps 'leaflet/leaflet.css' %}" rel="stylesheet">
<script src="{% statics_tag_maps 'leaflet/leaflet.js' %}"></script>
<script src="{% statics_tag_maps 'leaflet/leaflet.geometryutil.js' %}"></script>

{% endblock %}

{% block title_page %} - {% endblock %}
{% block buttons %}

{% endblock %}

{% block content_page %}
<div class="card pd-20 pd-sm-40">
    <div class="table-wrapper">
        <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
            <div class="card">
            <div id="map2">
                <div id="map" style="height: 400px;"></div>
            </div>
            <div class="pd-20">
                <h6 class="tx-inverse tx-14">Marcar Entrada/Salida</h6>
                <p class="tx-13"><span class="fa fa-location-arrow"></span><span id="lat_lng"></span></p>
                
                <div class="d-flex">
                    <a href="" class="btn btn-info bd-0 pd-x-20"><i class="fa fa-sign-in mg-r-5"></i>Entrada</a>
                    <a href="" class="btn btn-info bd-0 pd-x-20 mg-l-1"><i class="fa fa-sign-out mg-r-5"></i>Salida</a>
                </div><!-- d-flex -->
            </div><!-- pd-20 -->
            </div><!-- card -->
        </div>

    </div>
</div>



{% endblock %}

{% block static_down %}
<script src="{% statics_tag_amanda 'lib/select2/js/select2.min.js' %}"></script>
{% endblock %}

{% block script_tag %}

</script>
{% endblock %}