{% extends 'client/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %} {{ action }} Sucursal {% endblock %}

{% block static_up %}

{% endblock %}

{% block title_page %} {{ action }} Sucursal {% endblock %}
{% block buttons %}
{% if emp_id %}
<button type="button" class="btn btn-orange" onclick="redirectToUrl('{% url 'emp_app:edit_company' emp_id %}')">Volver <i
        class="icon ion-arrow-left-a"></i></button>
{% else %}
<button type="button" class="btn btn-orange" onclick="">Volver <i
    class="icon ion-arrow-left-a"></i></button>
{% endif %}
{% endblock %}

{% block content_page %}
<div class="card pd-20 pd-sm-40">
    <div class="table-wrapper">
        <form method="post" id="form" name="form" action="">
            {% csrf_token %}

            <div class="form-layout">
                <div class="row mg-b-25">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">{{ form_branch.suc_descripcion.label }} <span class="tx-danger">*</span></label>
                            {{ form_branch.suc_descripcion }}
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">{{ form_branch.suc_direccion.label }} <span class="tx-danger">*</span></label>
                            {{ form_branch.suc_direccion }}
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-3">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">{{ form_branch.pais.label }} <span class="tx-danger">*</span></label>
                            {{ form_branch.pais }}
                        </div>
                    </div><!-- col-8 -->
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label">{{ form_branch.region.label }} <span class="tx-danger">*</span></label>
                            {{ form_branch.region }}
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label">{{ form_branch.comuna.label }} <span class="tx-danger">*</span></label>
                            {{ form_branch.comuna }}
                        </div>
                    </div><!-- col-4 -->

                    
                    
                </div><!-- row -->
                <div class="form-layout-footer mg-t-30">
                    <button type="submit" class="btn btn-info mg-r-5">{{ action }}</button>
                    {% if suc_id %}
                    <button type="button" class="btn btn-info mg-r-5" onclick="redirectToUrl('{% url 'emp_app:add_branch_office' emp_id %}')">Agregar Otra Sucursal</button>
                    {% endif %}
                </div><!-- form-layout-footer -->
            </div>
        </form>

        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger mt-4" role="alert">
            {% else %}
            <div class="alert alert-success mt-4" role="alert">
                {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="d-flex align-items-center justify-content-start">
                    <i
                        class="icon ion-ios-{% if message.tags == 'error' %}close{% else %}checkmark{% endif %} alert-icon tx-32 mg-t-5 mg-xs-t-0"></i>
                    <span><strong>{% if message.tags == 'error' %}Error{% else %}Éxito{% endif %}: </strong> {{ message }}</span>
                </div><!-- d-flex -->
            </div><!-- alert -->
            {% endfor %}
            {% endif %}


    </div>
</div>
{% endblock %}

{% block static_down %}

{% endblock %}

{% block script_tag %}
<script>
    const redirectToUrl = (url) => {
        location.href = url;
    }

    const crear_empresa = () => {

        {% for id_input in form_branch %}
        const {{ id_input.html_name }} = $('#{{ id_input.id_for_label }}').val();
        {% endfor %}

        const camposRequeridos = [
            {% for id_input in form_branch %}
                {% if id_input.field.required %}
                    { campo: {{ id_input.html_name }}, mensaje: "- Debe ingresar {{ id_input.label }}" },
                {% endif %}
            {% endfor %}
        ];

        const errores = camposRequeridos.filter(function(campo) {
        let dic = campo
            if(dic.campo.length === 0){
                return campo
            }
        });

        if (errores.length > 0) {
            const mensaje_error = errores.map(error => error.mensaje).join("<br/>");
            $.alert({
                title: 'Error!',
                content: mensaje_error,
            });
            return;
        } else {
            $("#form").submit()
        }
    }

    $('.select2-show-search').select2({
        minimumResultsForSearch: ''
    });
</script>
{% endblock %}