{% extends 'client/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %} Calcular Sueldo {% endblock %}

{% block static_up %}
<link href="{% statics_tag_amanda 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title_page %} Calculadora de Sueldo {% endblock %}
{% block buttons %}

{% endblock %}

{% block content_page %}
<div class="card pd-20 pd-sm-40">
    <div class="table-wrapper">
        


        <form method="post" id="form" name="form" action="">
            {% csrf_token %}
        
            <div class="form-layout">
                <div class="row mg-b-25">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.base_salary.label }} <span class="tx-danger">*</span></label>
                            {{ form.base_salary }}
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.has_legal_gratification.label }} <span class="tx-danger">*</span></label>
                            {{ form.has_legal_gratification }}
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.type_of_gratification.label }} <span class="tx-danger"></span></label>
                            {{ form.type_of_gratification }}
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.type_of_work.label }} <span class="tx-danger">*</span></label>
                            {{ form.type_of_work }}
                        </div>
                    </div><!-- col-4 -->
                    
                </div><!-- col-4 -->

                <div class="row mg-b-25">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.afp.label }} <span class="tx-danger">*</span></label>
                            {{ form.afp }}
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.salud.label }} <span class="tx-danger">*</span></label>
                            {{ form.salud }}
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="form-control-label">{{ form.quantity_uf_health.label }} <span class="tx-danger"></span></label>
                            {{ form.quantity_uf_health }}
                        </div>
                    </div><!-- col-4 -->
                </div><!-- col-4 -->
                <div class="row mg-b-25">
                    <small></small>
                </div>
                
                <div class="form-layout-footer mg-t-30">
                    <button type="submit" class="btn btn-info mg-r-5" onclick="">Calcular Sueldo</button>
                </div><!-- form-layout-footer -->
                {% if pdf_response %}
                <div class="form-layout-footer mg-t-30">
                    <a class="btn btn-info mg-r-5" href="{% url 'remun_app:serve_pdf' pdf_response %}" target="_blank">¡PDF generado!</a>
                </div><!-- form-layout-footer -->
                {% endif %}                
            </div>
        </form>





    </div>
</div>
{% endblock %}

{% block static_down %}
<script src="{% statics_tag_amanda 'lib/select2/js/select2.min.js' %}"></script>
{% endblock %}

{% block script_tag %}
<script>
    const idSaludInput = document.getElementById('id_salud');
    const idUfInput = document.getElementById('id_quantity_uf_health');
    idUfInput.readOnly = true;
    idSaludInput.addEventListener('change', function() {
        if (idSaludInput.value === '1' ) {
            idUfInput.readOnly = true;
            idUfInput.value = "";
        } else {
            idUfInput.readOnly = false;
        }
    });
</script>
{% endblock %}