{% extends 'client/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %} Indicadores Previsionales {% endblock %}

{% block static_up %}
<link href="{% statics_tag_amanda 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title_page %} Indicadores Previsionales {% endblock %}
{% block buttons %}

{% endblock %}

{% block content_page %}
<div class="card pd-20 pd-sm-40">
    <div class="table-wrapper">
        


        





    </div>
</div>
{% endblock %}

{% block static_down %}
<script src="{% statics_tag_amanda 'lib/select2/js/select2.min.js' %}"></script>
{% endblock %}

{% block script_tag %}
<script>
    
</script>
{% endblock %}