{% extends 'client/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %}Reportes Asistencia{% endblock %}

{% block static_up %}
<link href="{% statics_tag_amanda 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title_page %}Reportes Asistencia{% endblock %}
{% block buttons %}

{% endblock %}

{% block content_page %}
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <form action="" id="form" method="post">
            <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            </div>
        </form>
    </div>
{% endblock %}

{% block static_down %}
<script src="{% statics_tag_amanda 'lib/select2/js/select2.min.js' %}"></script>
{% endblock %}

{% block script_tag %}
<script>

</script>
{% endblock %}