<form method="post" id="form-datos-laborales">
    <div id="div_datos_laborales">
        
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Cargos:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="cargo" class="form-control form-control-sm select2-show-search">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Centro de costos:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="centrocosto" class="form-control form-control-sm select2-show-search">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Sucursal:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="sucursal" class="form-control form-control-sm select2-show-search">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Fecha Contratación:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control fc-datepicker form-control-sm" placeholder="YYYY-MM-DD" required id="ue_fechacontratacion">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger"></span> Fecha Renovación Contrato:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control fc-datepicker form-control-sm" placeholder="YYYY-MM-DD" required id="ue_fecharenovacioncontrato">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger"></span> Fecha Termino Contrato:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control fc-datepicker form-control-sm" placeholder="YYYY-MM-DD" required id="ue_fechatermino">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Tipo Contrato:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="ue_tipocontrato" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Tipo Trabajador:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="ue_tipotrabajdor" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Estado:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="ue_estate" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Horas Jornada Trabajo:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm" id="ue_horassemanales">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Dias Trabajo Pactados:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm" id="ue_agreedworkdays">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Sector Trabajador:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="ue_workersector" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->


        <div class="row row-xs mg-t-30">
            <div class="col-sm-10 mg-l-auto">
                <div class="form-layout-footer">
                    <button type="button" class="btn btn-info mg-r-5" onclick="save_data_laborales('form-datos-laborales')">Guardar</button>
                </div><!-- form-layout-footer -->
            </div><!-- col-8 -->
        </div>
    </div>
</form>
<script>
    const select_cargo = () => {

        let select_cargo = document.getElementById('cargo');   
        let select_centro_costo = document.getElementById('centrocosto');   
        let select_sucursales = document.getElementById('sucursal');   

        let apiUrlCargo = `{% url 'usuario_app:GetCargosApiView' %}`;
        let apiUrlCentroCOsto = `{% url 'usuario_app:GetCentroCostosApiView' %}`;
        let apiUrlSucursales = `{% url 'usuario_app:GetSucursalApiView' %}`;

        axios.get(apiUrlCargo)
        .then(response => {

            const { data } = response; 
            const options_cargos = data.map(result => {
                return `
                <option value="${result.car_id}">${result.car_nombre}</option>
                `; 
            }).join('');
            select_cargo.innerHTML = "";
            select_cargo.innerHTML = options_cargos;
        })
        .catch(error => {
            $.alert({
                title: 'Mensaje!',
                content: `${error.response.data.message}`,
            });
        });

        axios.get(apiUrlCentroCOsto)
        .then(response => {

            const { data } = response; 
            const options_centro_costo = data.map(result => {
                return `
                <option value="${result.cencost_id}">${result.cencost_nombre}</option>
                `; 
            }).join('');
            select_centro_costo.innerHTML = "";
            select_centro_costo.innerHTML = options_centro_costo;
        })
        .catch(error => {
            $.alert({
                title: 'Mensaje!',
                content: `${error.response.data.message}`,
            });
        });

        axios.get(apiUrlSucursales)
        .then(response => {

            const { data } = response; 
            const options_sucursales = data.map(result => {
                return `
                <option value="${result.suc_id}">${result.suc_descripcion}</option>
                `; 
            }).join('');
            select_sucursales.innerHTML = "";
            select_sucursales.innerHTML = options_sucursales;
        })
        .catch(error => {
            $.alert({
                title: 'Mensaje!',
                content: `${error.response.data.message}`,
            });
        });
    }
</script>