<form method="post" id="form-datos-laborales">
    <div id="div_datos_laborales">
        
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Cargos:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="cargo" class="form-control form-control-sm select2-show-search">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Centro de costos:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="centrocosto" class="form-control form-control-sm select2-show-search">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Sucursal:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="sucursal" class="form-control form-control-sm select2-show-search">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Fecha Contratación:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control fc-datepicker form-control-sm" placeholder="YYYY-MM-DD" required id="ue_fechacontratacion">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger"></span> Fecha Renovación Contrato:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control fc-datepicker form-control-sm not-required" placeholder="YYYY-MM-DD" required id="ue_fecharenovacioncontrato">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger"></span> Fecha Termino Contrato:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control fc-datepicker form-control-sm not-required" placeholder="YYYY-MM-DD" required id="ue_fechatermino">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Tipo Contrato:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="ue_tipocontrato" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Tipo Trabajador:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="ue_tipotrabajdor" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Estado:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="ue_estate" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Horas Jornada Trabajo:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm" id="ue_horassemanales">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Dias Trabajo Pactados:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="ue_agreedworkdays" class="form-control select2-show-search form-control-sm" multiple>
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Sector Trabajador:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="ue_workersector" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->


        <div class="row row-xs mg-t-30">
            <div class="col-sm-10 mg-l-auto">
                <div class="form-layout-footer">
                    <button type="button" class="btn btn-info mg-r-5" onclick="save_data_laborales('form-datos-laborales')">Guardar</button>
                </div><!-- form-layout-footer -->
            </div><!-- col-8 -->
        </div>
    </div>
</form>
<script>

    const save_data_laborales = (form_name) => {
        const _validate_inputs = validate_inputs(form_name);

        if(!_validate_inputs){
            $.alert({
                title: 'Mensaje!',
                content: 'El formulario no esta completo, favor de revisar y volver a intentar',
            });
        }else{
            let cargo = document.getElementById('cargo').value;
            let centrocosto = document.getElementById('centrocosto').value;
            let sucursal = document.getElementById('sucursal').value;
            let ue_fechacontratacion = document.getElementById('ue_fechacontratacion').value;
            let ue_fecharenovacioncontrato = document.getElementById('ue_fecharenovacioncontrato').value;
            let ue_fechatermino = document.getElementById('ue_fechatermino').value;
            let ue_tipocontrato = document.getElementById('ue_tipocontrato').value;
            let ue_tipotrabajdor = document.getElementById('ue_tipotrabajdor').value;
            let ue_estate = document.getElementById('ue_estate').value;
            let ue_horassemanales = document.getElementById('ue_horassemanales').value;
            //let ue_agreedworkdays = document.getElementById('ue_agreedworkdays');
            let ue_agreedworkdays = ($('#ue_agreedworkdays').val()).join(', ');

            console.log(ue_agreedworkdays)

            let ue_workersector = document.getElementById('ue_workersector').value;

            const link_to = `{% url 'usuario_app:EditLaboralDataPersonalApiView' user_id %}`

            let dict_form = {
                "cargo": cargo,
                "centrocosto": Number(centrocosto),
                "sucursal": Number(sucursal),
                "ue_fechacontratacion": ue_fechacontratacion,
                "ue_fecharenovacioncontrato": ue_fecharenovacioncontrato,
                "ue_fechatermino": ue_fechatermino,
                "ue_tipocontrato": ue_tipocontrato,
                "ue_tipotrabajdor": Number(ue_tipotrabajdor),
                "ue_estate": Number(ue_estate),
                "ue_horassemanales": Number(ue_horassemanales),
                "ue_agreedworkdays": ue_agreedworkdays,
                "ue_workersector": Number(ue_workersector)
            }

            axios.put(link_to, dict_form)
            .then(response => {
                $.alert({
                    title: 'Mensaje!',
                    content: 'Datos laborales actualizado con éxito!',
                });
            })
            .catch(error => {
                let data_error = error.response.data;
                let listado_keys = Object.keys(data_error);
                let message_error = "";
                listado_keys.forEach((element) => {
                    message_error += `<strong>${element}:</strong> ${data_error[element][0]}<br/>`
                });
                $.alert({
                    title: 'ERROR <span id="text-danger"><i class="fa fa-close"></i></span>!',
                    content: `${message_error}`,
                });
            });

        }

    }

    const load_datos_laborales = () => {

        let select_cargo = document.getElementById('cargo');   
        let select_centro_costo = document.getElementById('centrocosto');   
        let select_sucursales = document.getElementById('sucursal'); 
        
        let select_ue_tipocontratos = document.getElementById('ue_tipocontrato');
        let select_ue_tipotrabajdor = document.getElementById('ue_tipotrabajdor');
        let select_ue_estate = document.getElementById('ue_estate');
        let select_ue_workersector = document.getElementById('ue_workersector');
        let select_ue_agreedworkdays = document.getElementById('ue_agreedworkdays');

        let apiUrlCargo = `{% url 'usuario_app:GetCargosApiView' %}`;
        let apiUrlCentroCOsto = `{% url 'usuario_app:GetCentroCostosApiView' %}`;
        let apiUrlSucursales = `{% url 'usuario_app:GetSucursalApiView' %}`;
        let apiUrl = `{% url 'usuario_app:GetSucursalApiView' %}`;
        let apiListDataPageDatosLaborales = `{% url 'usuario_app:GetListDataPageDatosLaborales' user_id %}`;

        select_ue_tipocontratos.innerHTML = "";
        select_ue_tipotrabajdor.innerHTML = "";
        select_ue_estate.innerHTML = "";
        select_ue_workersector.innerHTML = "";
        select_ue_agreedworkdays.innerHTML = "";


        axios.get(apiListDataPageDatosLaborales)
        .then(response => {
            const { data: { tipo_contrato_dict, type_job_dict, state_job_dict, worker_sector_dict, all_days_dict, data_colaborator } } = response; 

            const createOptions = (obj, selectElement) => {

                const options = Object.entries(obj).map(([value, label]) => {
                    const option = document.createElement('option');
                    option.value = value;
                    option.text = label;
                    return option;
                });

                options.forEach(option => {
                    selectElement.appendChild(option);
                });
            };

            const { cargo, centrocosto, sucursal, ue_agreedworkdays, ue_estate, ue_fechacontratacion, ue_fecharenovacioncontrato, ue_horassemanales, ue_tipocontrato, ue_tipotrabajdor, ue_workersector } = data_colaborator[0]; 

            console.log(cargo)
            document.getElementById('cargo').value = cargo;

            createOptions(tipo_contrato_dict, select_ue_tipocontratos);
            createOptions(type_job_dict, select_ue_tipotrabajdor);
            createOptions(state_job_dict, select_ue_estate);
            createOptions(worker_sector_dict, select_ue_workersector);
            createOptions(all_days_dict, select_ue_agreedworkdays);
        })
        .catch(error => {
            $.alert({
                title: 'Mensaje!',
                content: `${error.response.data.message}`,
            });
        });

        axios.get(apiUrlCargo)
        .then(response => {

            const { data } = response; 
            const options_cargos = data.map(result => {
                return `
                <option value="${result.car_id}">${result.car_nombre}</option>
                `; 
            }).join('');
            select_cargo.innerHTML = "";
            select_cargo.innerHTML = `<option value="">[Seleccione]</option>`+options_cargos;
        })
        .catch(error => {
            $.alert({
                title: 'Mensaje!',
                content: `${error.response.data.message}`,
            });
        });

        axios.get(apiUrlCentroCOsto)
        .then(response => {

            const { data } = response; 
            const options_centro_costo = data.map(result => {
                return `
                <option value="${result.cencost_id}">${result.cencost_nombre}</option>
                `; 
            }).join('');
            select_centro_costo.innerHTML = "";
            select_centro_costo.innerHTML = `<option value="">[Seleccione]</option>`+options_centro_costo;
        })
        .catch(error => {
            $.alert({
                title: 'Mensaje!',
                content: `${error.response.data.message}`,
            });
        });

        axios.get(apiUrlSucursales)
        .then(response => {

            const { data } = response; 
            const options_sucursales = data.map(result => {
                return `
                <option value="${result.suc_id}">${result.suc_descripcion}</option>
                `; 
            }).join('');
            select_sucursales.innerHTML = "";
            select_sucursales.innerHTML = `<option value="">[Seleccione]</option>`+options_sucursales;
        })
        .catch(error => {
            $.alert({
                title: 'Mensaje!',
                content: `${error.response.data.message}`,
            });
        });

        const select_ue_tipocontrato = document.getElementById('ue_tipocontrato');
    }
</script>