<form method="post" id="form-datos-personales">
    <div id="div_datos_personales">
        <div class="row row-xs">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Rut:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm" id="col_rut">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Apellidos:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm" id="apellidos">
            </div>
        </div>
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Nombres:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm" id="nombres">
            </div>
        </div>
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Email:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm" id="email">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Dirección:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm" id="col_direccion">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> País:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="pais" class="form-control form-control-sm select2-show-search">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Región:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="region" class="form-control form-control-sm select2-show-search" onchange="change_region()">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Comuna:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="comuna" class="form-control form-control-sm select2-show-search">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Sexo:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="col_sexo" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Estado Civil:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="col_estadocivil" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Es Extranjero?:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="col_extranjero" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Nacionalidad:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm" id="col_nacionalidad" value="Chileno">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Fecha Nacimiento:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control fc-datepicker form-control-sm" placeholder="YYYY-MM-DD" required id="col_fechanacimiento">
            </div>
        </div><!-- row -->
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Tipo Estudios:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="col_estudios" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div>
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Estado Estudios:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="col_estadoestudios" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div>
        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Título:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm" id="col_titulo">
            </div>
        </div><!-- row -->

        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Licencia Conducir:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="col_licenciaconducir" class="form-control form-control-sm" onchange="change_validation()">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->

        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger"></span> Clase Licencia:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control form-control-sm not-required" id="col_tipolicencia">
            </div>
        </div><!-- row -->

        <div class="row row-xs mg-t-20">
            <label class="col-sm-3 form-control-label"><span class="tx-danger">*</span> Rol:</label>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                <select id="col_tipousuario" class="form-control form-control-sm">
                    <option value="">[Seleccione]</option>
                </select>
            </div>
        </div><!-- row -->
        
        <div class="row row-xs mg-t-30">
            <div class="col-sm-10 mg-l-auto">
                <div class="form-layout-footer">
                    <button type="button" class="btn btn-info mg-r-5" onclick="save_data('form-datos-personales')">Guardar</button>
                </div><!-- form-layout-footer -->
            </div><!-- col-8 -->
        </div>
    </div>
</form>


<script>

const load_datos_personales_ini = () => {
    console.log("aqui esta la funcion de los datos iniciales de la pagina")
};

const load_datos_personales = async () => {
    try {

        {% if user_id %}
        const handleResponse = async (response) => {
            try {
                let {
                    data: { sexo_dict, estado_civil_dict, opciones_dict, tipo_estudios_dict, estados_estudios_dict, object_rol_dict, paises, regiones }
                } = response;

                const selectSexo = document.getElementById('col_sexo');
                const selectEstadoCivil = document.getElementById('col_estadocivil');
                const selectExtranjero = document.getElementById('col_extranjero');
                const selectLicenciaConducir = document.getElementById('col_licenciaconducir');
                const selectTipoEstudiosDict = document.getElementById('col_estudios');
                const selectEstadosEstudiosDict = document.getElementById('col_estadoestudios');
                const selectObjectRolDict = document.getElementById('col_tipousuario');

                const createOptions = (obj, selectElement) => {
                    const options = Object.entries(obj).map(([value, label]) => {
                        const option = document.createElement('option');
                        option.value = value;
                        option.text = label;
                        return option;
                    });

                    options.forEach(option => {
                        selectElement.appendChild(option);
                    });
                };

                const createOptionsRol = (obj, selectRol) => {
                    const options_rol_select = obj.map(result => {
                        return `
                        <option value="${result.rol_id}">${result.rol_name}</option>
                        `; 
                    }).join('');
                    selectRol.innerHTML = options_rol_select;
                };

                createOptionsRol(object_rol_dict, selectObjectRolDict);
                createOptions(sexo_dict, selectSexo);
                createOptions(estado_civil_dict, selectEstadoCivil);
                createOptions(opciones_dict, selectExtranjero);
                createOptions(opciones_dict, selectLicenciaConducir);
                createOptions(tipo_estudios_dict, selectTipoEstudiosDict);
                createOptions(estados_estudios_dict, selectEstadosEstudiosDict);

            } catch (error) {
                console.error('Error en la solicitud:', error.message);
            }
        };

        const load_page = "{% url 'usuario_app:ApiLoadPageColaborator' %}";
        axios.get(load_page)
        .then(response => handleResponse(response))
        .catch(error => {
            console.error('Error en la solicitud:', error.message);
        });


        const endpoint = "{% url 'usuario_app:ApiGetPersonalData' user_id %}";
        const response = await axios.get(endpoint);

        const { data: { data } } = response;
        const { data: { regions, comuns, countries } } = response;
        const { col_rut, col_extranjero, col_nacionalidad, col_sexo, col_fechanacimiento, email } = data[0]
        const { col_estadocivil, col_direccion, pais, region, comuna, first_name, last_name } = data[0]
        const { col_estudios, col_estadoestudios, col_titulo, col_licenciaconducir, col_tipolicencia, col_tipousuario } = data[0]
        
        const select_pais = document.getElementById('pais');
        const select_regiones = document.getElementById('region');
        const select_comuns = document.getElementById('comuna');

        document.getElementById('col_rut').value = col_rut;
        document.getElementById('apellidos').value = first_name;
        document.getElementById('nombres').value = last_name;
        document.getElementById('email').value = email;
        document.getElementById('col_direccion').value = col_direccion;

        const options_pais = countries.map(result => {
            return `
            <option value="${result.pa_id}">${result.pa_nombre}</option>
            `; 
        }).join('');
        select_pais.innerHTML = options_pais;
        select_pais.value = pais;

        const options_select = regions.map(result => {
            return `
            <option value="${result.re_id}">${result.re_nombre}</option>
            `; 
        }).join('');
        select_regiones.innerHTML = options_select;
        select_regiones.value = region;

        const options_comuns = comuns.map(result => {
            return `
            <option value="${result.com_id}">${result.com_nombre}</option>
            `; 
        }).join('');
        select_comuns.innerHTML = options_comuns;
        select_comuns.value = comuna;

        const createOptions = (obj, selectElement) => {
            const options = Object.entries(obj).map(([value, label]) => {
                const option = document.createElement('option');
                option.value = value;
                option.text = label;
                return option;
            });

            options.forEach(option => {
                selectElement.appendChild(option);
            });
        };


        document.getElementById('col_sexo').value = col_sexo;
        document.getElementById('col_estadocivil').value = col_estadocivil;
        document.getElementById('col_extranjero').value = col_extranjero;
        document.getElementById('col_nacionalidad').value = col_nacionalidad;
        document.getElementById('col_fechanacimiento').value = col_fechanacimiento;
        document.getElementById('col_estudios').value = col_estudios;
        document.getElementById('col_estadoestudios').value = col_estadoestudios;
        document.getElementById('col_titulo').value = col_titulo;
        document.getElementById('col_licenciaconducir').value = col_licenciaconducir;
        document.getElementById('col_tipolicencia').value = col_tipolicencia;
        document.getElementById('col_tipousuario').value = col_tipousuario;
        
        {% else %}

        axios.get("{% url 'usuario_app:LoadPersonalDataPageView' %}")
        .then(response => {

            const { data: { regions, comuns, countries } } = response;
            const { data: { sexo_dict, estado_civil_dict, opciones_dict, estados_estudios_dict, tipo_estudios_dict, listado_roles } }= response

            const select_pais = document.getElementById('pais');
            const select_regiones = document.getElementById('region');
            const selectSexo = document.getElementById('col_sexo');
            const selectEstadoCivil = document.getElementById('col_estadocivil');
            const selectExtranjero = document.getElementById('col_extranjero');
            const selectLicenciaConducir = document.getElementById('col_licenciaconducir');
            const selectTipoEstudiosDict = document.getElementById('col_estudios');
            const selectEstadosEstudiosDict = document.getElementById('col_estadoestudios');
            const selectObjectRolDict = document.getElementById('col_tipousuario');


            const options_pais = countries.map(result => {
                return `
                <option value="${result.pa_id}">${result.pa_nombre}</option>
                `; 
            }).join('');
            select_pais.innerHTML = options_pais;
            select_pais.value = pais;

            const options_select = regions.map(result => {
                return `
                <option value="${result.re_id}">${result.re_nombre}</option>
                `; 
            }).join('');
            select_regiones.innerHTML = options_select;
            select_regiones.value = region;

            const createOptions = (obj, selectElement) => {

                const options = Object.entries(obj).map(([value, label]) => {
                    const option = document.createElement('option');
                    option.value = value;
                    option.text = label;
                    return option;
                });

                options.forEach(option => {
                    selectElement.appendChild(option);
                });
            };

            const createOptionsRol = (obj, selectRol) => {
                const options_rol_select = obj.map(result => {
                    return `
                    <option value="${result.rol_id}">${result.rol_name}</option>
                    `; 
                }).join('');
                selectRol.innerHTML = options_rol_select;
            };

            createOptionsRol(listado_roles, selectObjectRolDict);
            createOptions(sexo_dict, selectSexo);
            createOptions(estado_civil_dict, selectEstadoCivil);
            createOptions(opciones_dict, selectExtranjero);
            createOptions(opciones_dict, selectLicenciaConducir);
            createOptions(tipo_estudios_dict, selectTipoEstudiosDict);
            createOptions(estados_estudios_dict, selectEstadosEstudiosDict);
        })
        .catch(error => {
            console.error('Error en la solicitud:', error.message);
        })

        {% endif %}

        
    } catch (error) {
        console.error('Error en la solicitud:', error.message);
    }

};


const save_data = (form_name) => {
    const _validate_inputs = validate_inputs(form_name);

    if(!_validate_inputs){
        $.alert({
            title: 'Mensaje!',
            content: 'El formulario no esta completo, favor de revisar y volver a intentar',
        });
    }else{

        let apellidos = document.getElementById('apellidos').value;
        let nombres = document.getElementById('nombres').value;
        let email = document.getElementById('email').value;

        let col_rut = document.getElementById('col_rut').value;
        let col_sexo = document.getElementById('col_sexo').value;
        let col_estadocivil = document.getElementById('col_estadocivil').value;
        let col_extranjero = document.getElementById('col_extranjero').value;
        let col_nacionalidad = document.getElementById('col_nacionalidad').value;
        let col_fechanacimiento = document.getElementById('col_fechanacimiento').value;
        let col_estudios = document.getElementById('col_estudios').value;
        let col_estadoestudios = document.getElementById('col_estadoestudios').value;
        let col_titulo = document.getElementById('col_titulo').value;
        let col_licenciaconducir = document.getElementById('col_licenciaconducir').value;
        let col_tipolicencia = document.getElementById('col_tipolicencia').value;
        let col_tipousuario = document.getElementById('col_tipousuario').value;
        let col_direccion = document.getElementById('col_direccion').value;

        let pais = document.getElementById('pais').value;
        let region = document.getElementById('region').value;
        let comuna = document.getElementById('comuna').value;

        {% if user_id %} 
        const link_to = `{% url 'usuario_app:PersonalDataEditView' user_id %}`
        {% else %}
        const link_to = `{% url 'usuario_app:PersonalDataCreateView' %}`
        {% endif %}

        let dict_form = {
            "col_rut": col_rut,
            "col_extranjero": Number(col_extranjero),
            "col_nacionalidad": col_nacionalidad,
            "col_sexo": col_sexo,
            "col_fechanacimiento": col_fechanacimiento,
            "col_estadocivil": Number(col_estadocivil),
            "col_direccion": col_direccion,
            "pais": Number(pais),
            "region": Number(region),
            "comuna": Number(comuna),
            "col_estudios": Number(col_estudios),
            "col_estadoestudios": Number(col_estadoestudios),
            "col_titulo": col_titulo,
            "col_licenciaconducir": Number(col_licenciaconducir),
            "col_tipolicencia": col_tipolicencia,
            "col_tipousuario": Number(col_tipousuario),
            "apellidos": apellidos,
            "nombres": nombres,
            "email": email
        }


        {% if user_id %} 
        axios.put(link_to, dict_form)
        {% else %}
        axios.post(link_to, dict_form)
        {% endif %}
        
            .then(response => {
                {% if user_id %}

                $.alert({
                    title: 'Mensaje!',
                    content: 'Los datos del colaborador fueron actualizados con éxito!',
                });

                {% else %}
                
                let url_to = `{% url 'usuario_app:edit_collaborator_file' '__user_id__' '__col_id__' %}`;

                const { data: { user_id, col_id } } = response
                url_to = url_to.replace("__user_id__", user_id).replace("__col_id__", col_id)

                $.confirm({
                    title: 'Mensaje!',
                    content: 'Los datos del colaborador fueron creados con éxito!',
                    buttons: {
                        aceptar: function () {
                            location.href = url_to
                        }
                    }
                });

                {% endif %}
                
            })
            .catch(error => {

                console.log()

                $.alert({
                    title: 'Mensaje!',
                    content: `${error}`,
                });
            });
    }
}

const change_validation = () => {
    const input = document.getElementById('col_licenciaconducir');
    const input_txt = document.getElementById('col_tipolicencia');

    if(input.value === '1'){
        input_txt.classList.remove('not-required');
    }else{
        input_txt.classList.add('not-required');
    }
};

const change_region = () => {
    let select_regions = document.getElementById('region');
    let select_comuns = document.getElementById('comuna');
    let apiUrl = `{% url 'usuario_app:GetComunsListApiView' 0 %}`;
    apiUrl = apiUrl.replace(0, select_regions.value)

    axios.get(apiUrl)
    .then(response => {
        const { data } = response; 
        const options_comuns = data.map(result => {
            return `
            <option value="${result.com_id}">${result.com_nombre}</option>
            `; 
        }).join('');
        select_comuns.innerHTML = "";
        select_comuns.innerHTML = options_comuns;
    })
    .catch(error => {
        $.alert({
            title: 'Mensaje!',
            content: `${error.response.data.message}`,
        });
    });
}
</script>
