{% load static_tags %} {% load static %}


<link href="{% statics_tag_amanda 'lib/select2/css/select2.min.css' %}" rel="stylesheet">

<div class="row">

    <div class="col-xl-3 shadow-box">
        <div class="card pd-20 pd-sm-40 box-pd-sm-40 form-layout form-layout-4">
            <h6 class="card-body-title">Mis datos de previsión y salud</h6>
            <p class="mg-b-20 mg-sm-b-30"></p>

            <!-- row -->
            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_banco" disabled="disabled">
                    <label for="" class="label">Tramo de asignación familiar</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_formapago" disabled="disabled">
                    <label for="" class="label">Forma de pago</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_tipocuenta_name" disabled="disabled">
                    <label for="" class="label">Tipo de cuenta</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_cuentabancaria" disabled="disabled">
                    <label for="" class="label">Número de cuenta</label>
                </div>
            </div>

        </div>
        <!-- card -->
    </div>

    <div class="col-xl-3 shadow-box">
        <div class="card pd-20 pd-sm-40 box-pd-sm-40 form-layout form-layout-4">
            <h6 class="card-body-title">Mis datos de previsión y salud</h6>
            <p class="mg-b-20 mg-sm-b-30"></p>

            <!-- row -->
            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_banco" disabled="disabled">
                    <label for="" class="label">Banco</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_formapago" disabled="disabled">
                    <label for="" class="label">Forma de pago</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_tipocuenta_name" disabled="disabled">
                    <label for="" class="label">Tipo de cuenta</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_cuentabancaria" disabled="disabled">
                    <label for="" class="label">Número de cuenta</label>
                </div>
            </div>

        </div>
        <!-- card -->
    </div>

</div>

<script src="{% statics_tag_amanda 'lib/select2/js/select2.min.js' %}"></script>

<script>
    $(document).ready(function() {
        const endpoint = "";

        axios.get(endpoint)
            .then(response => {
                const {
                    data
                } = response



            })
            .catch(error => {
                console.error('Error en la solicitud:', error.message);
            });
    });
</script>