{% load static_tags %} 
{% load static %}


<link href="{% statics_tag_amanda 'lib/select2/css/select2.min.css' %}" rel="stylesheet">

<div class="row">

    <div class="col-xl-4">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-4">
            <h6 class="card-body-title">Mis datos personales</h6>
            <p class="mg-b-20 mg-sm-b-30"></p>

            <!-- row -->
            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_rut" disabled="disabled">
                    <label for="" class="label">Rut</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="first_name" disabled="disabled">
                    <label for="" class="label">Nombres</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-5 inputContainer">
                    <input type="text" class="form-control" id="last_name_ap" disabled="disabled">
                    <label for="" class="label">Ap. Paterno</label>
                </div>
                <div class="col-sm-5 inputContainer">
                    <input type="text" class="form-control" id="last_name_am" disabled="disabled">
                    <label for="" class="label">Ap. Materno</label>
                </div>
            </div>
            

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_fechanacimiento" disabled="disabled">
                    <label for="" class="label">Fecha de Nacimiento</label>
                </div>
            </div>
            
            <div class="row mg-t-20">
                <div class="col-sm-5 inputContainer">
                    <input type="text" class="form-control" id="col_sexo" disabled="disabled">
                    <label for="" class="label">Sexo</label>
                </div>
                <div class="col-sm-5 inputContainer">
                    <select name="col_estadocivil" id="col_estadocivil" class="form-control">
                        <option value="1">Solter@</option>
                        <option value="2">Casad@</option>
                        <option value="3">Divorsiad@</option>
                        <option value="4">Viud@</option>
                    </select>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="con_phone_contact">
                    <label for="" class="label">Teléfono</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="con_mail_contact_emp">
                    <label for="" class="label">Correo Empresa</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="con_mail_contact_per">
                    <label for="" class="label">Correo Personal</label>
                </div>
            </div>

        </div>
        <!-- card -->
    </div>

    <div class="col-xl-4">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-4">
            <h6 class="card-body-title">Mi dirección</h6>
            <p class="mg-b-20 mg-sm-b-30"></p>

            <!-- row -->
            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <select name="regiones" id="regiones" class="form-control">
                    </select>
                    <label for="" class="label">Región</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <select name="comunas" id="comunas" class="form-control">
                    </select>
                    <label for="" class="label">Comuna</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_direccion">
                    <label for="" class="label">Dirección</label>
                </div>
            </div>

        </div>
        <!-- card -->
    </div>

    <div class="col-xl-4">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-4">
            <h6 class="card-body-title">Mis datos para remuneraciones</h6>
            <p class="mg-b-20 mg-sm-b-30"></p>

            <!-- row -->

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_banco" disabled="disabled">
                    <label for="" class="label">Banco</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_formapago" disabled="disabled">
                    <label for="" class="label">Forma de pago</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_tipocuenta_name" disabled="disabled">
                    <label for="" class="label">Tipo de cuenta</label>
                </div>
            </div>

            <div class="row mg-t-20">
                <div class="col-sm-10 inputContainer">
                    <input type="text" class="form-control" id="col_cuentabancaria" disabled="disabled">
                    <label for="" class="label">Número de cuenta</label>
                </div>
            </div>

        </div>
        <!-- card -->
    </div>

</div>

<script src="{% statics_tag_amanda 'lib/select2/js/select2.min.js' %}"></script>

<script>

    $(document).ready(function(){
        const endpoint = "{% url 'usuario_app:mi_perfil' request.session.id %}";

        axios.get(endpoint)
            .then(response => {
                const { data } = response

                $('#col_rut').val(data.username);
                $('#first_name').val(data.first_name);
                $('#last_name_ap').val(data.first_last_name);
                $('#last_name_am').val(data.second_last_name);
                $('#col_fechanacimiento').val(data.col_fechanacimiento);
                $('#col_sexo').val(data.col_sexo);
                $('#col_estadocivil').val(data.col_estadocivil);
                $('#con_phone_contact').val(data.phone_user);
                $('#con_mail_contact_emp').val(data.email_corporativo);
                $('#con_mail_contact_per').val(data.email_personal);

                const { data: { regiones_list_dict } } = response

                if(regiones_list_dict){
                    regiones_list_dict.forEach(element => {
                    
                        let is_selected = "";
                        if(element.re_id === data.col_region){
                            is_selected = "selected"
                        }
                        $('#regiones').append(`<option value="${element.re_id}" ${is_selected}>${element.re_nombre}</option>`);
                    });
                }

                const { data: { comunas_dict_list } } = response

                if(comunas_dict_list){
                    comunas_dict_list.forEach(element => {
                    
                        let is_selected = "";
                        if(element.com_id === data.col_comuna){
                            is_selected = "selected"
                        }
                        $('#comunas').append(`<option value="${element.com_id}" ${is_selected}>${element.com_nombre}</option>`);
                    });
                }

                $('#col_direccion').val(data.col_direccion);

                $('#col_banco').val(data.col_banco);
                $('#col_formapago').val(data.col_formapago_name);
                $('#col_tipocuenta_name').val(data.col_tipocuenta_name);
                $('#col_cuentabancaria').val(data.col_cuentabancaria);

            })
            .catch(error => {
                console.error('Error en la solicitud:', error.message);
            });
    });
</script>