<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .centrar-texto{
            text-align: center;
        }

        p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <div class="centrar-texto">Contrato de inicio con cliente</div>
    <br><br>

    <p>
        Con fecha {{fecha_ingreso}} la empresa {{nombre_cliente}} con Rut {{rut_cliente}}
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada cras convallis, rhoncus laoreet lacinia tristique tempor vehicula curae nibh fusce dapibus, metus justo vestibulum facilisi felis luctus venenatis lacus aliquet. Ligula platea tincidunt odio faucibus sem in, porttitor tempor tortor morbi torquent bibendum libero, venenatis quis eleifend lobortis vehicula. Urna leo eget imperdiet primis viverra commodo facilisis vulputate, curae varius cras elementum sapien habitasse risus orci, inceptos fames lobortis consequat condimentum diam justo.
    </p>

    <p>
        Class tempus pharetra sodales penatibus quam natoque in blandit primis, sollicitudin vulputate mus cras maecenas dui nec molestie metus, a conubia ullamcorper cum ut eget posuere ac. Fringilla euismod aenean dignissim ullamcorper viverra ultrices nulla sagittis morbi est, luctus fermentum feugiat senectus porta ut mus penatibus urna. Non pellentesque blandit id etiam nibh augue lectus faucibus, senectus eget quisque auctor fames sodales justo, mattis tortor posuere mus convallis ultricies rhoncus.
    </p>
</body>
</html>