<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>
<body>
    <h3>Nombre del cliente: {{ nombre_cliente }}</h3>
    <br>
    <div>
        Rut cliente: {{ rut_cliente }}<br>
        Nombre base de datos: {{ nombre_bd }}<br>
        Link del cliente: {{ cli_link }}<br>
        Cliente activo: {{ cliente_activo }}<br>
        Fecha de ingreso: {{ fecha_ingreso }}<br>
        Fecha de termino: {{ fecha_termino }}<br>
        Cantidad de usuario: {{ cantidad_usuarios }}<br>
        Nombre representante: {{ nombre_representante }}<br>
        Rut representante: {{ rut_representante }}<br>
        Correo representante: {{ correo_representante }}<br>
        Teléfono representante: {{ telefono_representante }}<br>
        Dirección representante: {{ dirección_representante }}<br>
        País: {{ pais }}<br>
        Región: {{ region }}<br>
        Comuna: {{ comuna }}<br>
    </div>
</body>
</html>