{% extends 'client/base.html' %}

{% load static_tags %}
{% load static %}

{% block title %} {{ action }} Bancos {% endblock %}

{% block static_up %}
<link href="{% statics_tag_amanda 'lib/datatables/jquery.dataTables.css' %}" rel="stylesheet">
<link href="{% statics_tag_amanda 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
<style>
    .btn-primary-color {
        color: #fff !important;
    }
    .btn-off{
        display: none !important;
    }
</style>
{% endblock %}

{% block title_page %} {{ action }} Bancos {% endblock %}
{% block buttons %}
<button type="button" class="btn btn-orange" onclick="redirectToUrl('{% url 'conf_app:banks_add' %}')">Agregar Banco <i
    class="icon ion-plus-circled"></i></button>
{% endblock %}

{% block content_page %}
<div class="card pd-20 pd-sm-40">
    <div class="table-wrapper">
        <table id="datatable-banks" class="table display responsive nowrap" style="width: 100%;">
            <thead>
                <tr>
                    <th class="wd-15p">ID</th>
                    <th class="wd-15p">Código</th>
                    <th class="wd-20p">Nombre</th>
                    <th class="wd-15p">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for bank in list_banks %}
                <tr>
                    <td>{{ bank.ban_id }}</td>
                    <td>{{ bank.ban_codigo }}</td>
                    <td>{{ bank.ban_nombre }}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" onclick="redirectToUrl('{% url 'conf_app:banks_edit' bank.ban_id %}')">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="deleteObject('{% url 'conf_app:delete_bank' bank.ban_id %}')">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
            </thead>
        </table>
    </div>
</div>

{% endblock %}

{% block static_down %}
<script src="{% statics_tag_amanda 'lib/datatables/jquery.dataTables.js' %}"></script>
<script src="{% statics_tag_amanda 'lib/datatables-responsive/dataTables.responsive.js' %}"></script>
<script src="{% statics_tag_amanda 'lib/select2/js/select2.min.js' %}"></script>

{% endblock %}

{% block script_tag %}
<script>
    {% include "client/includes/redirect_to_js.html"%}

    {% include "client/includes/table_js.html" with id="datatable-banks" %}
</script>
{% endblock %}